SECRET_KEY - django's secret key
DEBUG - debug mode status
ALLOWED_HOSTS - list allows hosts

POSTGRES_USER - postgres user
POSTGRES_PASSWORD - postgres password
POSTGRES_DB - DB name

DB_HOST - DB host
DB_PORT - DB port

NGINX_PORT - nginx port for docker-compose
GUNICORN_PORT - port for gunicorn
HOST_PORT - host port for docker-compose
